<div class="modal-body row">
  <div class="col-8">
    <div class="card">
      <img src="<%= (cafe.imgUrls) ? cafe.imgUrls.regular : '' %>" class="card-img-top" alt="<%= cafe.name %>" 
        style="max-height: 400px; object-fit: cover"/>
      <!-- Content -->
      <div class="card-body cafe-content">
        <h5 class="card-title cafe-name">
          <%= cafe.name %>
        </h5>
        <p class="card-subtitle cafe-location">
          <%= cafe.location %>
        </p>
        <p class="card-text cafe-desc">
          <%= cafe.desc %>
        </p>
        <p class="text-muted cafe-price">
          Average Price: $<%= cafe.avgPrice %>
        </p>
        <div class="row justify-content-start">
          <% if(user && user.equals(cafe.author)) { %>
          <div class="col-3">
            <a class="btn btn-primary w-100" href="/cafes/<%= cafe._id %>/edit">Edit</a>
          </div>
          
          <div class="col-3">
            <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST">
              <button class="btn btn-primary  w-100" type="submit">Delete</button>
            </form>
          </div>
          <% } %> 
          <!-- <div class="col-3">
            <a class="btn btn-primary w-100" href="/cafes">Back</a>
          </div> -->
        </div>
      </div>  
    </div>
  </div>
  
  <div class="col-4">
    <% if(user) { %> 
    <!-- review form -->
    <div class="review-form my-4">
      <h2>Leave a review:</h2>
      <form action="/reviews/<%= cafe.id %>" method="POST">
        <div class="form-group my-2">
          <label for="rating">Rating</label>
          <input type="range" min="1" max="5" step="1" id="rating" name="review[rating]">
        </div>
        <div class="form-group my-2">
          <textarea name="review[comment]" id="comment" class="form-control"></textarea>
        </div>
        <div class="row justify-content-end">
          <div class="col-4">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <% } %> 
  
    <!-- reviews -->
    <div class="reviews">
      <% for(let review of cafe.myReviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <% if(review.author) { %> <%= review.author.username %>
              <% } else { %> <%= 'Anonymous' %> 
              <% } %> 
              </h5>
            <h6 class="card-subtitle">
              Rating: <%= review.rating %>
            </h6>
            <% if (review.comment) {%>
            <p class="card-text">
              <%= review.comment %>
            </p>
            <% } %>
            <% if(user && user._id.equals(review.author._id)) { %> 
            <div class="row justify-content-end">
              <div class="col-4">
                <form action="/reviews/<%= review._id %>?_method=DELETE&fromCafeId=<%= cafe._id %>" method="POST">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
    </div>
  </div>  
</div>



