<h1>Edit <%= cafe.name %></h1>
<form action="/cafes/<%= cafe._id %>?_method=PUT" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="cafe[name]" id="name" value="<%= cafe.name %>">
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" name="cafe[location]" id="location" value="<%= cafe.location %>">
  </div>
  <div>
    <label for="avgPrice">Average Price:</label>
    <input type="number" name="cafe[avgPrice]" id="avgPrice" step="any" value="<%= cafe.avgPrice %>">
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>