<main class="container">
  <h1>Edit <%= cafe.name %>
  </h1>
  <form action="/cafes/<%= cafe._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="cafe[name]" id="name" 
        value="<%= cafe.name %>" required>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" name="cafe[location]" id="location" 
        value="<%= cafe.location %>" required>
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <textarea class="form-control" name="cafe[desc]" id="desc" required>
        <%= cafe.desc %>
      </textarea>
    </div>
    <div class="form-group">
      <label for="avgPrice">Average Price:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">$</span>
        </div>
        <input type="number" class="form-control" name="cafe[avgPrice]" id="avgPrice" step="any"
          value="<%= cafe.avgPrice %>">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>
</main>